@font-face {
    font-family: Clash_Regular;
    src: url('../src/assets/fonts/ClashDisplay-Regular.otf');
}

@font-face {
    font-family: Clash-Medium ;
    src: url('../src/assets/fonts/ClashDisplay-Medium.otf');
}

@font-face {
    font-family: Clash-SemiBold;
    src: url('../src/assets/fonts/ClashDisplay-Semibold.otf');
}

@font-face {
    font-family: Inter_Medium;
    src: url('../src/assets/fonts/Inter-Medium.otf');
}
@font-face {
    font-family: Inter_Regular;
    src: url('../src/assets/fonts/Inter-Regular.otf');
}
@font-face {
    font-family: Inter-SemiBold;
    src: url('../src/assets/fonts/Inter-SemiBold.otf');
}

@import "tailwindcss";
@import "swiper/css";

@theme {
    --font-inter-Regular: 'Inter_Regular', sans-serif;
    --font-inter-Medium: 'Inter_Medium', sans-serif;
    --font-inter-SemiBold: 'Inter-SemiBold', sans-serif;
    --font-clash-Regular: 'Clash_Regular', sans-serif;
    --font-clash-Medium: 'Clash-Medium', sans-serif;
    --font-clash-SemiBold: 'Clash-SemiBold', sans-serif;
}


body{
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;

}

.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}
